{% extends "base_generic.html" %}

{% block content %}
    <style>
        th#titulos{
            /*background-color: coral;*/
            /*background:#292929;*/
            background:#292929;
            color:#fff;
            /*box-shadow: 0px 2px 10px 1px rgba(57,172,235,0.7);*/
        }

        th#titulos:hover {
            background:#30d9a4; color:#fff;
        }

        tr#encabezado{
            background:rgba(0, 0, 0, 0.5);
            color:#fff;
            /*box-shadow: 0px 2px 10px 1px rgba(57,172,235,0.9);*/
            font-weight: bold;
        }

        tr#encabezado:hover {
            background:#30d9a4; color:#fff;
        }

        div#lideres{
            background-color: bisque;
            position: absolute;
            /*margin-top: -5px;*/
            width: 97%;
        }

        div#responsables{
            background-color: bisque;
            position: absolute;
            margin-top: 100px;
            width: 97%;
        }

        tr#estacion{
            line-height:8;
            /*padding-bottom: 7;*/
            /*line-height:70%;*/
            /*padding-bottom: 3px;*/
            /*padding-top: 10px;*/
        }

        .grupos{
            display: block;
            margin-left: 25px;
            width: 100%;
            height: 500px;
            margin-bottom: 60px;
            margin-top: 10px;
        }

        .button_fullwidth{
            /*background-color:rgba(0, 0, 0, 0.5);*/
            /*background-color:rgba(48, 217, 164, 1);*/
            /*margin-top: 80px;*/
        }
        

        a:link {
            color: rgba(0, 0, 0, 0.8);
        }

        a#trabajador-clicked{
            color: rgba(0, 0, 0, 0.8);
        }

        ul#listado{
            float: left;
        }

        /*table#centerMiddle{
            margin-left:10%;
        }*/

        table, td, th {
            border: 0.1px solid black;
            /*font-size: 10px;*/
        }
        
        .table1 {
            /*border-collapse: separate;*/
            width: 100%;
            /*border-spacing: 15px;*/
        }

        @media all and (min-width: 569px) and (max-width: 1023px){
            table#centerMiddle{
                margin-left:0%;
            }

            div#lideres{
                width: 96%;
            }
    
            div#responsables{
                width: 96%;
            }
        }

        @media all and (min-width: 0px) and (max-width: 568px){

            .container {
                width: auto;
                min-width: 0;
                display: table;
            }

            .row {
                margin-left: -32px;
            }

            *, ::after, ::before {
                box-sizing: unset;
            }

            .button_fullwidth {
                width: 92.5%;
            }

            tr#estacion{
                padding-top: 10px;   
            }

            div#lideres{
                width: 94%;
                /*margin-top: 20px;*/
            }
    
            td#responsables{
                /*margin-top: 165px;*/
                width: 100%;
            }

            tr#responsables2{
                /*margin-top: 165px;*/
                width: 100%;
            }

            #templateColumns{
                width:100% !important;
            }

            .templateColumnContainer{
                display:block !important;
                width:100% !important;
            }

            .columnImage{
                height:auto !important;
                max-width:480px !important;
                width:100% !important;
            }

            .leftColumnContent{
                /*font-size:16px !important;*/
                line-height:125% !important;
            }

            .rightColumnContent{
                font-size:16px !important;
                line-height:125% !important;
            }

            .imageColumn{
                font-size:16px !important;
                line-height:125% !important;
            }

            table, td, th {
                font-size: 11px;
            }
        }
    </style>


    <div class="hidden">
        <input style="display:none;" value="{{estacionbloqueo.pk}}" id="id_estacionbloqueo">
    </div>

    <div class="container center-block" id="contenedor">
        <div class="row  center-block" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grupos">
                
                <button type="button" class="button_fullwidth"><h1>{{ estacionbloqueo.name }}</h1></button>
                <table class="table1" id="centerMiddle">
                    <tr>
                        <th colspan="5" id="titulos" class="text-center">
                            Líderes de Bloqueo
                        </th>
                    </tr>
                    <tr id="encabezado">
                        <td class="text-center">
                            Responsable
                        </td>
                        <td class="text-center">
                            Estado
                        </td>
                        <td class="text-center">
                            Tarjeta
                        </td>
                        <td class="text-center">
                            Identificación
                        </td>
                        <td class="text-center">
                            Registro
                        </td>
                    </tr>

                    {% for r in estacionbloqueo.estacion_trabajador.all %}
                        {% if  r.trabajador.rol %}
                            {% if r.state != 1 %}
                            
                            <tr width="100%" class="text-center">
                                <td align="center" valign="center" width="50%" class="leftColumnContent">
                                    {{ r.trabajador }}
                                </td>
                                <td align="center" width="50%" class="rightColumnContent text-center">
                                    {% if r.state == 1 %}
                                    <button class="btn btn-warning">Pendiente de Bloqueo</button>
                                    {% elif r.state == 2 %}
                                    <i class="fa fa-lock" style="color:red;font-size:35px;" aria-hidden="true"></i>
                                    {% elif r.state == 3 %}
                                    <i class="fa fa-unlock" style="color: green;font-size:35px;" aria-hidden="true"></i>
                                    {% else %}
                                    No se ha seleccionado estado
                                    {% endif %}
                                </td>
                                <td valign="center" width="50%" class="imageColumn">
                                    <a href="{{r.trabajador.id}}/trabajadorTarjeta/" id="trabajador-clicked">
                                        {% if r.trabajador.image is not empty %}
                                        <img src="../../media/imagenTarjeta.PNG" alt="Foto" width="50" height="50"/>
                                        {% endif %}
                                    </a>
                                </td>
                                <td valign="center" width="50%" class="imageColumn">
                                    <a href="{{r.trabajador.id}}/{{estacionbloqueo.id}}/trabajadorDetalle/" id="trabajador-clicked">
                                        {% if r.trabajador.image is not empty %}
                                        <img src="{{r.trabajador.image.url}}" alt="Foto" width="50" height="50"/>
                                        {% endif %}
                                    </a>
                                </td>
                                <td width="50%" class="imageColumn">
                                    <a href="{{r.trabajador.id}}/{{r.trabajador.id}}/trabajadorRegistro/" id="trabajador-clicked">
                                        <i class="fa fa-file-text-o" style="font-size:35px;"></i>
                                    </a>
                                </td>                      
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <th colspan="5" id="titulos" class="text-center">
                            Responsables de Bloqueo Grupal
                        </th>
                    </tr>
                    <tr id="encabezado">
                        <td class="text-center">
                            Responsable
                        </td>
                        <td class="text-center">
                            Estado
                        </td>
                        <td class="text-center">
                            Tarjeta
                        </td>
                        <td class="text-center">
                            Identificación
                        </td>
                        <td class="text-center">
                            Registro
                        </td>
                    </tr>
                    {%for e in estacionbloqueo.estacion_trabajador.all%}
                        {% if  e.trabajador.rol == 0 %}
                            {% if e.state != 1 %}
                        
                        
                            <tr width="100%" class="text-center">
                                <td align="center" valign="center" width="50%" class="leftColumnContent">
                                    {{e.trabajador.name}}
                                </td>
                                <td align="center" width="50%" class="rightColumnContent text-center">
                                    {% if e.state == 1 %}
                                    <button class="btn btn-warning">Pendiente de Bloqueo</button>
                                    {% elif e.state == 2 %}
                                    <!--<button class="btn btn-danger">Bloqueado</button>-->
                                    <i class="fa fa-lock" style="color:red;font-size:35px;" aria-hidden="true"></i>
                                    {% elif e.state == 3 %}
                                    <!--<button class="btn btn-success">Desbloqueado</button>-->
                                    <i class="fa fa-unlock" style="color:green;font-size:35px;" aria-hidden="true"></i>
                                    {% else %}
                                    No se ha seleccionado estado
                                    {% endif %}
                                </td>
                                <td valign="center" width="50%" class="imageColumn">
                                    <a href="{{e.trabajador.id}}/trabajadorTarjeta/" id="trabajador-clicked">
                                        {% if e.trabajador.image is not empty %}
                                        <img src="../../media/imagenTarjeta.PNG" alt="Foto" width="50" height="50"/>
                                        {% endif %}
                                    </a>
                                </td>
                                <td valign="center" width="50%" class="imageColumn">
                                    <a href="{{e.trabajador.id}}/{{estacionbloqueo.id}}/trabajadorDetalle/" id="trabajador-clicked">
                                        {% if e.trabajador.image is not empty %}
                                        <img src="{{e.trabajador.image.url}}" alt="Foto" width="50" height="50"/>
                                        {% endif %}
                                    </a>
                                </td>
                                <td width="50%" class="imageColumn">
                                    <a href="{{e.trabajador.id}}/{{e.trabajador.id}}/trabajadorRegistro/" id="trabajador-clicked">
                                        <i class="fa fa-file-text-o" style="font-size:35px;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {%endfor%}
                </table>
            </div>
        </div>    
    </div>

    {% block javascript %}
        <script>
            window.setInterval(function(){
                var url = "{% url 'bloqueoApp:detalle_estacion_bloqueo' 0 %}"
                var id = $("#id_estacionbloqueo").val();
                console.log(id);
                url = url.replace("/0", "/"+id); 
                ($("#centerMiddle" ).load( url + "#centerMiddle table" ));
            },1000);
        </script>
    {% endblock %}

{% endblock content%}




