{% extends "base_generic.html" %}

{% block cabecera %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a id="marca" href={% url "bloqueoApp:listado_trabajadores_estacion" %}>TecBloqueo</a>
    </div>

    <nav class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="botonera">
        <a href={% url "bloqueoApp:trabajadores" %} class="button_top" id="login_top">Ver Empleados</a>
    </nav>
{% endblock cabecera %}

{% block content %}

<style>
    .grupos{
        display: block;
        /*argin-left: 25px;*/
        width: 100%;
        height: 500px;
        margin-bottom: 60px;
        margin-top: 10px;
        text-align: center;
    }

    iframe#someFrame{
        border-width: 0px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        margin-top: -20px;
    }

    @media all and (max-width: 599px){
        .dispositivo-clic{
            margin-left: 5px;
        }

        div#copy_right{
            margin-top: -70px;
        }
    }
    
</style>
<!--<section>-->
        <!--<div class="container">-->
            <!--<div class="row" > -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grupos center-block">
                    {% if dispositivo_list %}
                    <select name="" id="dispositivo" class="form-control dispositivo-clic" style="width:100%;">
                            <option value="0">-Seleccione una Estación-</option>
                        {% for d in dispositivo_list %}
                            <option class="dropdown-item" value="{{ d.pk }}" >{{ d }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <iframe name="someFrame" id="someFrame" height=100% width="100%"></iframe>
                    {%else%}
                        <h1>no hay</h1>
                    {% endif %}
                </div>
            <!--</div>-->
        <!--</div> End container -->
<!--</section>-->

{% endblock content %}

{% block javascript %}
    <script>   
        $(document).ready(function() {
            var dispositivoSel = $("#dispositivo option:selected");
            console.log(dispositivoSel.select);
            
            $("#dispositivo").on('change', function () {        
                var url = "{% url 'bloqueoApp:detalle_estacion_bloqueo' 0 %}"
                var b = $("#dispositivo option:selected").val()
                url = url.replace("/0", "/"+b)

                $.get(url)
                .done(response => {
                    document.getElementById("someFrame").html = response;
                    $("#someFrame").attr("srcdoc", response);
                })
            });
        });     
    </script>
{%endblock%}

{% block pie %}
    <div class="col align-self-end" id="copy_right">
        © 2018 - Evolution Soluciones Digitales S.R.L.
    </div>
{% endblock pie %}
    