{% extends "base_generic.html" %}

{% block cabecera %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a id="marca" href={% url "bloqueoApp:listado_trabajadores_estacion" %}>TecBloqueo</a>
    </div>
{% endblock cabecera %}

{% block content %}

<style>
    .grupos{
        display: block;
        margin-left: 25px;
        /*width: 80%;*/
        height: 350px;
        /*margin-top: -290px;*/
        text-align: center;
        background-image: url(../../../media/peligro.PNG);
        background-repeat: no-repeat;
        background-position: center; 
    }
    
    div#imagen{
        margin-top: -95px;
        margin-left: 30px;
    }

    .pagination{
        display: block;
        margin-left: -20px;
        /*width: 80%;*/
        /*height: 500px;*/
        /*margin-top: 20px;*/
        text-align: center;
        margin-top: 40px;
        /*position: absolute;*/
    }

    .nombres{
        margin-top: 300px;
        height: 200px;
        /*font-weight: bold;*/
        margin-left: 200px;
    }

    .page-links{
        /*position: absolute;*/
        margin-left: 60px;
    }

    .fa{
        color: black;
        /*text-shadow: 1px 1px 1px #ccc;*/
        font-size: 1.5em;
    }

    .page-current{
        margin-bottom: 10px;
    }

    div#copy_right{
        margin-top: 218px;
    }

    table{
        border-collapse: separate;
        margin-left: 80px;
    }

    td{
        float: left;
        border-top: 0.5em solid transparent;
    }

    div#title{
        margin-left: -200px;
    }
    @media all and (min-width: 569px) and (max-width: 1023px){
        table{
            border-collapse: separate;
            margin-left: -100px;
        }
    }

    @media all and (min-width: 0px) and (max-width: 568px){
        table{
            border-collapse: separate;
            margin-left: -200px;
        }

        .grupos{
            margin-left: 0px;
        }

        .h2, h2 {
            font-size: 28px;
        }

        .pagination{
            margin-top: 5px;
        }
        /*.nombres {
            margin-left: 165px;
        }*/
    }
</style>
<!-- <section>
        <div class="container">-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grupos center-block" >
    <div class="nombres">
        <div id="title"><h2>Sólo puede retirar este seguro/rótulo/candado</h2></div>
        <table>
            {% for t in trabajadores_list %}
                <tr>
                    <td>
                        <strong>Nombre:</strong> {{t.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>DNI:</strong> {{t.dni}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Fecha de Vencimiento:</strong> {{t.tiempo}}
                    </td>
                </tr>
            </table>
            <div id="imagen">
                {% if t.image is not empty %}
                    <img src="{{t.image.url}}" alt="Foto" width="80" height="90"/>
                {% endif %}
            </div> 
        {% endfor %}
        <br>
    </div>
    {% if is_paginated %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/bloqueoApp/trabajadores?page={{ page_obj.previous_page_number }}">
                        <span><i class="fa fa-arrow-circle-left"></i></span>
                    </a>
                {% endif %}
                <span class="page-current">
                    Empleado {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/bloqueoApp/trabajadores?page={{ page_obj.next_page_number }}">
                        <span><i class="fa fa-arrow-circle-right"></i></span>
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
        <!--</div> End container
</section> -->

{% endblock content%}

{% block pie %}
    <div class="col align-self-end" id="copy_right">
        © 2018 - Evolution Soluciones Digitales S.R.L.
    </div>
{% endblock pie %}