{% extends "base_generic.html" %}

{% block content %}

<style>
    .grupos{
        display: block;
        margin-left: 25px;
        /*width: 80%;*/
        /*height: 1000px;*/
        margin-top: -200px;
        text-align: center;
        background-image: url(../../../media/peligro.PNG);
        background-repeat: no-repeat;
        background-position: center; 
    }
    
    div#imagen{
        margin-top: -95px;
        margin-left: 30px;
    }

    .pagination{
        display: block;
        margin-left: 10px;
        /*width: 80%;*/
        /*height: 500px;*/
        /*margin-top: 20px;*/
        text-align: center;
        margin-top: 80px;
        /*position: absolute;*/
    }

    .nombres{
        margin-top: 440px;
        height: 200px;
        /*font-weight: bold;*/
        margin-left: 200px;
    }

    .page-current{
        margin-bottom: 10px;
    }

    div#copy_right{
        margin-top: 160px;
    }

    table{
        border-collapse: separate;
        margin-left: 80px;
    }

    td{
        float: left;
        border-top: 0.5em solid transparent;
    }

    div#title{
        margin-left: -200px;
    }
    @media all and (min-width: 600px) and (max-width: 1023px){
        table{
            border-collapse: separate;
            margin-left: -100px;
        }
    }

    @media all and (min-width: 0px) and (max-width: 599px){
        table{
            border-collapse: separate;
            margin-left: -200px;
        }

         .grupos{
            margin-left: 0px;
        }

        .h2, h2 {
            font-size: 27px;
            margin-left: -11px;
        }

        .pagination{
            margin-top: 5px;
        }

        .row{
            margin-left: -20px;
        }

        div#imagen {
            margin-left: 0px;
        }

        table {
            margin-left: -215px;
        }
    }
</style>
<!-- <section>
        <div class="container">-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grupos center-block" >
                <div class="nombres">
                    <div id="title"><h2>Sólo puede retirar este seguro/rótulo/candado</h2></div>
                    <table>
                        <tr>
                            <td>
                               <strong>Nombre:</strong> {{trabajador.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>DNI:</strong> {{trabajador.dni}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <strong>Fecha de Vencimiento:</strong> {{trabajador.tiempo}}
                            </td>
                        </tr>
                    </table>
                    <div id="imagen">
                        {% if trabajador.image is not empty %}
                            <img src="{{trabajador.image.url}}" alt="Foto" width="80" height="90"/>
                        {% endif %}
                    </div> 
                        <!--<div>Nombre: {{trabajador.name}}<div>
                        <div>DNI: {{trabajador.dni}}</div>
                        <h3>{{t.estacion_trabajador.state}}</h3>
                        <div>Fecha de Vencimiento: {{trabajador.tiempo}}</div>
                        <div id="imagen">
                            {% if trabajador.image is not empty %}
                                <img src="{{trabajador.image.url}}" alt="Foto" width="50" height="50"/>
                            {% endif %}
                        </div>-->
                    </div>
                    
                    <!-- <a href="{% url 'bloqueoApp:index' %}">as</a> -->
                    <button id="back" type="button" class="btn btn-light"><i class="fa fa-arrow-left"></i>   Volver</button>
            </div>
        <!--</div> End container
</section> -->

{% endblock content%}

{% block javascript %}
<script>
        $("#back").click(function() {
            window.history.back();

        })

</script>

{% endblock javascript %}