{% extends "base_generic.html" %}

{% block content %}

<style>
    table, td, th {
        border: 0.1px solid black;
    }

    td#imagen{
        text-align: center;
    }

    .table1 {
        /*border-collapse: separate;*/
        width: 100%;
        /*border-spacing: 15px;*/
    }

    ul{
        display: inline-block;
        text-align:left;
        padding:0;  
        margin:0;
        list-style: none;
    }

    @media all and (min-width: 569px) and (max-width: 1023px){
        table#centerMiddle{
            margin-left:0%;
        }
    }

    @media all and (min-width: 0px) and (max-width: 568px){
        .container {
            width: auto;
            min-width: 0;
            display: table;
        }

        .row {
            margin-left: -18px;
        }

        *, ::after, ::before {
            box-sizing: unset;
        }

        .button_fullwidth{
            width: 92.5%;
        }

        table#centerMiddle{
            margin-left:0%;
        }

        table, td, th {
            font-size: 14px;
        }
    }
</style>
<div class="container center-block" id="contenedor">
        <div class="row  center-block" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grupos">
                
                <button type="button" class="button_fullwidth"><h1>REGISTRO DE BLOQUEO Y DESBLOQUEO DIGITAL</h1></button>
                <!--
                     <tr>
                        {% if trabajador.image is not empty %}
                            <img src="{{trabajador.image.url}}" alt="Foto" width="200" height="200"/>
                        {% endif %}
                     </tr>
                -->
                <table class="table1" id="centerMiddle">
                    <tr>
                        <th id="imagen" rowspan="6">
                            {% if trabajador.image is not empty %}
                                <img src="{{trabajador.image.url}}" alt="Foto" width="100" height="100"/>
                            {% endif %}
                        </th>
                        <td>Apellidos y Nombres</td>
                        <td>{{trabajador.name}}</td>
                    </tr>
                    <tr>
                        <td>Fecha y Hora de Bloqueo</td>
                        <td>{{estacion.dateBloqueo}}</td>
                    </tr>
                    <tr>
                        <td>Fecha y Hora de Desbloqueo</td>
                        <td>{{estacion.dateDesbloqueo}}</td>
                    </tr>
                    <tr>
                        <td>Duración de la interveción</td>
                        <td>{{ estacion.dateBloqueo|timesince:estacion.dateDesbloqueo }}</td>
                    </tr>
                </table>
            </div>
        </div>    

        <br><br>
        <div align="center">
            <button id="back" type="button" class="btn btn-light"><i class="fa fa-arrow-left"></i>   Volver</button>
        </div>
    </div>

{% endblock content%}

{% block javascript %}

<script>
    $("#back").click(function() {
        window.history.back();
    })
</script>

{% endblock javascript %}