/*body{
    background-color: rgba(21, 64, 133, 0.5);
}

div#contenedor{
    background-color:#fff;
}*/

body, html{
    margin: 0;
    /*background-image: url(../img/brickwall_@2X.png);/*Agregamos el pattern como fondo.*/
    background-attachment: fixed;/*Esta propiedad lo que hace es fijar el fondo para que no se mueve cuando scrolleo. Evitamos que se repita más veces de las que debe la imagen.*/
}

a#marca{
    width:150px;
	height:40px;
	background:url(../img/logo3.png) no-repeat 0 0;
	text-indent:-9999px;
	display:block;
}

#copy_right{
    /*background-color:rgba(0, 0, 0, 0.5);/*#202020;*/
    background:rgba(0, 82, 144, 0.7);
	padding:10px;
    color:#fff;/*#555;*/
    /*font-weight: bold;*/
    text-align: center;
    margin-top: 100px;
}

/* Buttons */
a.button_top {
    border:none;
    margin-top:10px;
    margin-left:120px;
    background:#292929;
    color:#fff;
    font-size:11px;
    padding:5px 16px 2px 16px;
    text-decoration:none; 
    transition: background .5s ease; 
    -moz-transition: background .5s ease; 
    -webkit-transition: background .5s ease; 
    -o-transition: background .5s ease; 
    display:inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
    outline:none;
    font-weight:700;
    text-transform:uppercase;
    -webkit-font-smoothing: antialiased;
}
a.button_top#apply {
    border:none;
    margin-top:5px;
    background: #F66;
    
}
a.button_top:hover {
    background:#30d9a4; color:#fff;
}

a.button_fullwidth, .button_fullwidth {
	border:none;
    /*background:#262c2d;*/
    /*background-color:rgba(0, 0, 0, 0.5);*/
    background:rgba(0, 82, 144, 0.7);
    /*background-color:rgba(48, 217, 166, 1);*/
	color:#fff;
	outline:none;
	padding:7px 12px;
	text-decoration:none; 
	transition: background .5s ease; 
	-moz-transition: background .5s ease; 
	-webkit-transition: background .5s ease; 
	-o-transition: background .5s ease; 
	display:block;
	width:100%;
	cursor:pointer;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:5px;
	text-align:center;
	-webkit-font-smoothing: antialiased;
}
/*a.button_fullwidth:hover, .button_fullwidth:hover  {background:#262c2d;}*/
/*Empiezo a armar mi adaptation a mobile*/

/*@media: Propiedad para mobile adaptation.*/
/*all: con esto indico que se va a aplicar a todos los dispositivos que tengan la resolution que se toma de:'width=device-width'.*/
/*Tomo la resolution de mi despositivo con 'width=device-width' y establezco un rango de resolution, entonces si mi despositivo 
tiene una resolution que se encuentre entre el rango establecido, se van a tomar propiedades de css que ya establecí y se van a 
modificar con este '@media'.*/
/*'@media' me permite reutilizar propiedades dejando a las que no tengan nada que ver con el tamaño del dispositivo, iguales.*/
/*Indico que este '@media' se va a aplicar a los dispositivos q tengan una resolución entre 600px y 1023px. Si la resolución es mayor, se van a aplicar los estilos fijados anteriormente.*/
/*EN OTRAS PALABRAS, EN '@media' VOY A DEJAR TODAS LAS REGLAS DE ESTILO QUE QUIERO QUE CAMBIEN Y LAS PROPIEDADES DE CADA REGLA QUE QUIERO QUE SE MODIFIQUEN.*/
@media all and (min-width: 600px) and (max-width: 1023px){
    div#marca{
        width:150px;
        height:36px;
        background:url(../img/logo.png) no-repeat 0 0;
        text-indent:-9999px;
        display:block;
    }
    
    #copy_right{
        /*background-color:#202020;*/
        /*background:rgba(0, 82, 144, 0.7);*/
        color:#fff;/*#555;*/
        /*font-weight: bold;*/
        text-align: center;
        margin-top: 100px;
    }
}/*Fin de media*/

@media all and (max-width: 599px){
    a.button_top {
        margin-left: 200px;  
    }
    nav#botonera{
        margin-top: -40px;
    }
}

