<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TecBloqueo</title>

        <!-- CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">

    </head>

    <body>

        <div class="container" id="contenedor">
            <header class="row" id="cabecera">
                {% block cabecera %}{% endblock cabecera %}
            </header>
            
            <section class="row" id="contenido">
                {% block content %}{% endblock content %}
            </section>

            <footer id="pie">
                <hr>
                {% block pie %}{% endblock pie %}
            </footer>
        </div>

        <!-- JQUERY -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        <!-- OTHER JS -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block javascript %}{% endblock %}
    </body>

</html>
